html,
body {
    margin: 0;
    padding: 0;
    width: 2700px;
    height: 100vh;
    background: linear-gradient(#9AB0FE 50%, #B182E0 100%);
    font-family: Gilroy, sans-serif;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: black;
}

.head-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0 30px;
    width: 97vw;
}

.header__links {
    padding-left: 0;
    line-height: 1vw;
}

.tbn-faq {
    margin-bottom: 12%;
    font-family: Gilroy;
}

.header__link {
    padding-left: 27px;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 1.3vw;
    margin: 2vh 0 0 1vw;
    list-style-type: none;
}

.header__link::before {
    margin-left: 0;
    content: '';
    position: absolute;
    top: -2px;
    left: -0.7vw;
    width: 1em;
    height: 1em;
    border-radius: 50%
}

@media (max-width: 1670px) {
    .header__link::before {
        left: 0vw;
    }
}

.header__link:nth-child(1)::before {
    background: #7468FF;
    transform: rotate(-89.61deg);
}

.header__link:nth-child(2)::before {
    background: #E6BFFF;
    transform: rotate(-89.61deg);
}

.header__link:nth-child(3)::before {
    background: #D99DFF;
    transform: rotate(-89.61deg);
}

.header__link:nth-child(4)::before {
    background: #FFAF75;
    transform: rotate(-89.61deg);
}

.header__link:nth-child(5)::before {
    background: #C15DFF;
    transform: rotate(-89.61deg);
}

.header__link:nth-child(6)::before {
    background: #9bffa3;
    transform: rotate(-89.61deg);
}

.header-title {
    background-color: #FFFFFF;
    /* margin-top: 14px; */
    /* margin-top: 1.4vw; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    font-family: "Gilroy";
    /* margin-bottom: 18px; */
    font-size: 4vw;
    text-transform: uppercase;
}

.header-text {
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 2.5vw;
}

.btn-header {
    /* padding: 7px 10px; */
    padding: 1vw;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 17vw;
    font-family: Gilroy;
    font-size: 2vw;
}

.main {
    padding-top: 25vw;
    padding-bottom: 10px;
}

@media (max-width: 720px) {
    .main {
        padding-top: 30vh;
    }
}

.course-title {
    font-family: Gilroy;
    background-color: rgb(255, 255, 255, 0.30);
    /* padding-left: 30px; */
    padding-left: 1em;
    /* text-align: center; */
}

.separator {
    border-bottom: 1px solid #000;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.semestr a {
    border-radius: 18px;
    text-align: center;
    font-size: 1.3vw;
    line-height: 3.3vw;
    padding: 1vw;
    border: none;
    text-transform: uppercase;
}

.semestr li {
    display: inline-block;
}

.btn-purple-courses {
    background: #C15DFF;
}

.btn-yellow-courses {
    background: #FFAF75;
}

.btn-math-courses {
    background: #D99DFF;
}

.btn-base-courses {
    background: #E6BFFF;
}

.btn-profil-courses {
    background: #7468FF;
}

.btn-facult-courses {
    background: #9bffa3;
}